[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/liburing"]
	path = submodules/liburing
	url = https://github.com/axboe/liburing.git
